<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Taco</title>
</head>

<body>
    <img src="../assets/img/logo_space_taco.PNG" alt="logo space taco" width="150px">
    <h1>Bienvenidos a Space Taco</h1>

    <h2>Menú de Tacos</h2>
    <p>Taco Mercurio (Cabeza) ........................ $14.00</p>
    <p>Taco Venus (Lengua) ........................... $14.00</p>
    <p>Taco Tierra (Bistek) .......................... $14.00</p>
    <p>Taco Marte (Pastor) ........................... $14.00</p>
    <p>Taco Jupiter (Suadero) ........................ $14.00</p>
    <p>Taco Saturno (Chorizo) ........................ $14.00</p>
    <p>Taco Urano (Adobada) .......................... $14.00</p>
    <p>Taco Neptuno (Molida) ......................... $14.00</p>
    <p>Taco Pluton (Arrachera) ....................... $14.00</p>

    <hr>
    <h2>Paquetes</h2>

    <dl>
        <dt>Paquete Space ............................ $150.00</dt>
        <dd>12 tacos a elegir, salsas y verdura aparte.</dd>
        <dt>Paquete Galaxia .......................... $130.00</dt>
        <dd>8 tacos y 2 quezadillas, salsas y verdura aparte.</dd>
        <dt>Paquete Asteroide ........................ $120.00</dt>
        <dd>5 tacos de al pastor y 5 adobada, salsas y verdura aparte.</dd>
        <dt>Paquete Planeta .......................... $80.00</dt>
        <dd>7 tacos de al pastor, salsas y verdura aparte.</dd>
        <dt>Paquete Luna ............................. $60.00</dt>
        <dd>5 tacos a elegir, salsas y verdura aparte.</dd>
    </dl>

    <hr>
    <h2>Bebidas</h2>
    <ul>
        <li>Refrescos .................... $15.00
            <ul>
                <li>Coca cola</li>
                <li>Pepsi</li>
                <li>Fanta</li>
                <li>Manzana Mundet</li>
                <li>Sangria</li>
            </ul>
        </li>
        <li>Jugos ......................... $12.00
            <ul>
                <li>Boing Mango</li>
                <li>Boing Uva</li>
                <li>Jumex Durazno</li>
            </ul>
        </li>
        <li>Aguas de sabor................. $10.00
            <ul>
                <li>Horchata</li>
                <li>Jamaica</li>
                <li>Jumex Durazno</li>
            </ul>
        </li>
        <li>Cervezas ...................... $35.00
            <ul>
                <li>Modelo Especial</li>
                <li>Victoria</li>
                <li>Indio</li>
                <li>Corona</li>
            </ul>
        </li>
    </ul>

    <a href="./pedido.html" target="blank">
        <button type="button">Hacer pedido</button>
    </a>

    <br><br>




</body>

</html>